<!-- <hr> -->
<!-- <h1>The Email Newsletter</h1>
<p>Get updates about new posts, new projects, or other meaningful updates to this site delivered to your inbox.</p>
<form action="https://assets.mailerlite.com/jsonp/534041/forms/95167824242148861/subscribe" method="post" id="subscription-form">
<input type="text" name="fields[email]" placeholder="email:">
<input type="submit" value="[ Subscribe ]">
<div id="message"></div>
</form> -->
<!-- </hr> -->

<h1>The Email Newsletter</h1>
<p>Get updates about new posts, new projects, or other meaningful updates to this site delivered to your inbox.</p>
<form action="https://buttondown.email/api/emails/embed-subscribe/syazarilasyraf" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/syazarilasyraf','popupwindow')" class="embeddable-buttondown-form">
    <input type="text" name="email" id="bd-email" placeholder="email:">
    <input type="submit" value="[ Subscribe ]">
</form>